<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>servicios</title>
</head>

<link rel="stylesheet" href ="../css/style.css">

<body>
    
    <main>
        <div class="containermenu">
            <header>
                <nav class="menu">
                    <ul>
                        <li>
                            <a href="index.html">
                                <img src="../img/index.jpeg" width="30px"></a> </li>
                        <li><a href="#">
                                <img src="../img/servicios.jpeg" width="30px"></a></li> 
                        <li><a href="contacto.html">
                                <img src="../img/contacto.jpeg" width="30px"> </a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="imagen">
            <img src="../img/Colchón Cubs Matrimonial.jfif" width="50%" height="autoplay">
            <img src="../img/Set Colchon y Box Westport Individual.jfif" width="50%" height="autoplay">
        </div>

        <div class = "informacion">
            <h2>Informacion de la empresa</h2>
            <p>
            Historia: Colchones Spring es una empresa colombiana con más de 60 años de trayectoria, reconocida por ofrecer soluciones de descanso de alta calidad. Desde sus inicios, se ha enfocado en la innovación y el confort, posicionándose como una de las marcas líderes en el mercado nacional.

            Negocios Principales:
            Colchones: Amplia variedad de colchones diseñados con tecnología avanzada para garantizar descanso, soporte y durabilidad.

            Bases y camas: Bases, somieres y estructuras que complementan la experiencia de descanso.

            Almohadas y accesorios: Productos diseñados para mejorar la ergonomía y el confort al dormir.

            Tecnología de descanso: Uso de materiales modernos como espumas especializadas y sistemas de resortes que se adaptan al cuerpo.

            Cobertura: Presencia en múltiples ciudades de Colombia, con distribución en tiendas físicas y canales digitales.
            </p>
</body>
</html>